
/* MAIN PAGE
 * ================================================================================ */

:root {
    /* decoratin */
    --bg_clr: #161819;
    --border_clr: #2d343c;

    /* text */
    --clr_text:  #cccccc;
    --clr_text_dim: #999999;
    --clr_text_shygray: #4c4c4c;
    --clr_red: #aa2828;
    --clr_accent:    #475e80;
    --clr_accent_light:    #5c7aa6;
    --clr_accent_lighter:  #7196cc;
    --clr_accent_lightest: #8dbbff;
    --clr_accent_dark:     #2a384d;
    --clr_accent_darker:   #1c2533;

    /* button */
    --btn_border_width: 3px;
    --transition_speed: 0.05s;

    /* other */
    --border_width_frame: 1px;
    --text_size_title: 16px;
    --text_size_normal: 18px;
    --text_size_shy: 14px;
    --main_frame_width: 300px;
    --main_frame_height: 500px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: var(--bg_clr);
    border: 1px solid var(--border_clr);
    border-collapse: collapse;
    max-width:  var(--main_frame_width);

    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
    color: var(--clr_text);
}

#gui_title_frame {
    display: flex;
    border-bottom: var(--border_width_frame) solid var(--border_clr);
    padding: 4px 0px 4px 0px;
    min-width: var(--main_frame_width);
    height: var(--text_size_title);
    align-items: center;
    justify-content: center;

    #text_part_1 {
        color: var(--clr_red);
    }
    #text_part_2 {
        color: var(--clr_text_dim);
        margin-left: 10px;
    }
}

.frame {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width:  var(--main_frame_width);
    /* height: var(--main_frame_height); */
    margin-top: 10px;

    .header {
        align-self: start;
        font-size: 16px;
        height: var(--text_size_title);
        margin: 4px;
        margin-left: 10px;
    }

    .title {
        font-size: 16px;
    }

    .text_normal {
        color: var(--clr_accent_light);
        font-size: var(--text_size_normal);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .text_gray {
        color: var(--clr_text_dim);
        font-size: var(--text_size_normal);
    }

    .text_shy {
        color: var(--clr_text_shygray);
        font-size: var(--text_size_normal);
        margin-top: 4px;
        margin-bottom: 8px;
    }

    hr {
        border: 2px solid var(--border_clr);
        border-radius: 2px;
        width: 280px;
    }

    label {
        color: var(--clr_accent_light);
        font-size: var(--text_size_normal);
        /* font-weight: 700; */
    }
}

.btn_normal {
    border: none;
    border-bottom: calc(var(--btn_border_width) * 2) solid var(--clr_accent_darker);
    border-right:  var(--btn_border_width) solid var(--clr_accent_dark);
    border-left:   var(--btn_border_width) solid var(--clr_accent_light);
    border-top:    var(--btn_border_width) solid var(--clr_accent_light);
    border-radius: 10px;
    background-color: var(--clr_accent);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: var(--clr_text);
    padding: 4px 0px 4px 0px;
    margin: 8px;
}
.btn_normal:hover {
    filter: brightness(115%);
    transition: var(--transition_speed);
}
.btn_normal:active {
    filter: brightness(85%);
    border:  var(--btn_border_width) solid var(--clr_accent_dark);
    border-bottom: var(--btn_border_width) solid var(--clr_accent_darker);
    transition: var(--transition_speed);
}

#btn_open_blacklist {
    width: 114px;
}

#btn_open_whitelist {
    width: 114px;
}

.btns_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.input_text {
    font-size: 16px;
    width: 180px;
    height: 30px;
    background-color: var(--bg_clr);
    color: var(--clr_text);
    border: 4px ridge var(--clr_accent);
    margin-left: 8px;
    padding-left: 8px;
}
.input_text:hover {
    border: 4px ridge var(--clr_accent_light);
}

.input_radio {
    background-color: var(--bg_clr);
    color: var(--clr_text);
}

#div_word_input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    height: 52px;
    border: var(--border_width_frame) solid var(--border_clr);
}

#btn_add_word {
    width: 60px;
    height: 40px;
    border-radius: 10px;
}

#btn_open_donate_usdt {
    width: 80px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.middle_section {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 20px;
}

.counter {
    display: flex;
    align-items: center;
    text-align: center;

    .text_counter_name {
        color: var(--clr_accent_light);
        font-size: var(--text_size_normal);
        margin: 0 10px;

        /* For Border */
        /* border: 2px solid var(--clr_accent_darker); */
        /* border-top: none; */
        /* border-right: none; */
        /* padding: 0 4px 0 4px; */
    }

    .text_counter_dynamic {
        margin: 0;
        padding: 0;
        color: var(--clr_accent_lighter); 
        font-size: var(--text_size_normal);

        /* For Border */
        /* border: 2px solid var(--clr_accent_darker); */
        /* border-bottom: none; */
        /* border-left: none; */
        /* padding: 0 4px 0 4px; */
    }
}

#div_donation_header {
    text-align: center;
}

#contacts_email {
    font-size: var(--text_size_shy);
}



/* BLACKLIST PAGE
 * ================================================================================ */

#btn_goback {
    width: 80px;
}

#div_gobac {
    /* min-height: 40px; */
    height: 60px;
}
